.chat-container{
    width: 700px;
    height: 450px;
    border: 1px solid #d4d4d4;
    position: fixed;
    bottom: 0;
    right: 200px;
    display: flex;
    background: #FFF;
    justify-content: space-between;
    border-radius: 10px;
}

.messages-box{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.message-input-box{
    border-top: 1px solid #d4d4d4;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input{
    border: none;
    height: 100%;
    width: 80%;
    font-size: 16px;
    padding: 10px;
}

.message-input:focus{
    outline: none;
}

.message-send-button{
    font-size: 14px;
    width: 17%;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    border: 0;
    background: #9DE2C9;
}

.chat-members-box{
    width: 40%;
    overflow-y: scroll;
    border-radius: 10px;
}

.main-chat-box{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.chat-member-list{
    margin: 0;
    padding: 0;
}

.chat-messages{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.chat-member{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
}

.chat-member img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.selected{
    background: #d4d4d4;
}

.chat-member li{
    list-style: none;
    margin-left: 10px;
}

.chat-header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.chat-header-user-info{
    display: flex;
    align-items: center;
}

.chat-header-user-info p{
    margin-left: 10px;
}

.chat-header-user-info img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}


.chat-close-button{
    width: 25px;
    cursor: pointer;
}

.no-conversation-selected-box{
    width: 60%;
}

.no-conversation-selected-header{
    border: none;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.no-conversation-selected-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #acacac;
    height: 90%;
}

.no-conversation-selected-main img{
    width: 130px;
}

.go-back-icon{
    display: none;
}

@media (max-width: 920px) {
    .chat-container{
        right: 50px;
    }
}

@media (max-width: 768px) {
    .chat-container{
        right: 0;
        width: 100%;
        height: 100%;
    }

    .chat-members-box{
        width: 100%;
    }

    .no-conversation-selected-box{
        display: none;
    }

    .hidden{
        display: none;
    }

    .main-chat-box{
        width: 100%;
    }

    .go-back-icon{
        display: block;
        margin-right: 30px;
        cursor: pointer;
    }
}

