.recover-password-content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    width: 500px;
    height: 80%;
    background-color: white;
    place-self: center;
    border-radius: 20px;
}

.recover-password{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #9DE2C9;
}

@media screen and (max-width:530px){
    .recover-password-content{
        width: 100%;
        padding: 10px;
        height: 100%;
        border-radius: 0;
    }
}